

<div class="row">
  <div class="col-sm-6 col-md-5 col-lg-6">
    <h1>Editing region</h1>
  </div>
  <div class="col-sm-6 col-md-5 col-lg-6">
    <%= link_to t('delete'), harbor_region_path(@harbor, @region), method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-danger pull-right"  %>
  </div>
</div>





<%= render 'form' %>

